operators:used to perform operations on variables and values.

1.Arithmetic operators
Addition x + y
Subtraction x - y
Multiplication x * y 
Division x / y 
Modulus x % y
Exponentiation x ** y 
Floor division x // y


2.Assignment operators
3.Comparison operators
4.Logical operators
5.Identity operators
6.Membership operators
7.Bitwise operators

#Addition

x = 6
y = 5
addition = x + y
print(addition)
print(f"Addition: {x} + {y} = {addition}") #Printed O/P using formatted string
# f string...> when we want to value as variable in o/p we use "f"

x = 5
y = 3

print(x+y)

In [39]:
#Subtraction (-): Subtracts the second number from the first.
subtraction = x - y
print(f"Subtraction: {x} - {y} = {subtraction}")
print("Substraction of x and y=",x-y)

Subtraction: 5 - 3 = 2
Substraction of x and y= 2

In [14]:
#Multiplication (*): Multiplies two numbers.

multiplication = x * y
print(f"Multiplication: {x} * {y} = {multiplication}")
print("multiplication of x and y=",x*y)

Multiplication: 5 * 3 = 15
multiplication of x and y= 15

In [16]:
#Division (/): Divides the first number by the second.
x= 15
y= 4
division = x / y
print(division)
print(f"Division: {x} / {y} = {division}")

#Take any two numbers and perform addition, subtraction, multiplication and division

3.75
Division: 15 / 4 = 3.75

In [18]:
print(x/y)
type(x/y)

3.75

float

In [24]:
#Modulus (%): Returns the remainder of the division of the first number by the second.
x= 15
y= 4
modulus = x % y    #Remainder
print(f"Modulus: {x} % {y} = {modulus}")

Modulus: 15 % 4 = 3

In [26]:
#Exponentiation : First number will be base and second number will be power of the first

a =6
b=3

expn = a ** b
print(expn)

216

In [28]:
a,b=2,3
expn=a**b
print(expn)

8

In [32]:
x= 5
y= 3

#5^3

exponentiation = x ** y
print(f"Exponentiation: {x} ** {y} = {exponentiation}")

Exponentiation: 5 ** 3 = 125

In [34]:
#Floor Division (//): Divides the first number by the second and returns the closest integer less than or equal to the result.
x= 5
y= 3
division = x/y
floor_division = x // y
print(f"Floor division: {x} // {y} = {floor_division}")
print(division)

Floor division: 5 // 3 = 1
1.6666666666666667

In [36]:
a=9
b=4

fl_di=a//b
print(fl_di)

2

Assignment operators are used to assign values to variables: 
Operator   Example	   Same As
=	       x = 5	   x = 5
+=	       x += 3	   x = x + 3
-=	       x -= 3	   x = x - 3
*=	       x *= 3	   x = x * 3
/=	       x /= 3	   x = x / 3
%=	       x %= 3	   x = x % 3
//=	       x //= 3	   x = x // 3
**=	       x **= 3	   x = x ** 3
&=	       x &= 3	   x = x & 3
|=	       x |= 3	   x = x | 3
^=	       x ^= 3	   x = x ^ 3
>>=	       x >>= 3	   x = x >> 3
<<=	       x <<= 3	   x = x << 3
:=	       print(x := 3)	x = 3
                            print(x)

In [41]:
# = Assignment:

x=5
print(x)

a = 10

print(a)

5
10

In [43]:
# = Assignment:

x=5
print(x)

a += 10

print(a)

5
20

In [47]:
# += Addition Assignment:
x=5
x+= 3  #x=x+3  #x =5+3
print(x)

8

In [49]:
# -= Subtraction Assignment:
x-=3    #x = x -3  #8-3
print(x)

5

In [51]:
# *= Multiplication Assignment:
x*=3   #x = x * 3  #5*3
print("Value of x:",(x))

Value of x: 15

In [53]:
# /= Division Assignment:
x /= 3 
print(x)

5.0

In [55]:
# %= Modulus Assignment:
x%= 3  # x = X % 3  #5%3
print(x)

# //= Floor division
y= 16
y //= 5   #y= y//5

print(y)

2.0
3

In [ ]:
# &= Bitwise AND Assignment:
#& is the bitwise AND operator, which compares each bit of two numbers and returns a new number.
#Each bit in the result is 1 if the corresponding bits in both operands are 1, otherwise the bit is 0.
# 1   0   0
# 1   1   1
# 0   1   0
#1    1    1
x = 5  #  0101
x &= 3  # 0011; Equivalent to x = x & 3
print(x)  #0001
bin(x)

y = 6

y &=4

print(y)

bin(y)

bin(26)

In [59]:
a =5  #0101
b =6  #0110

c =a & b  #0100

print(c)
bin(c)

4

'0b100'

In [61]:
x = 5  # 0101
x |= 3  #0011; Equivalent to x = x | 3
print(x)  #(0111)
bin(x)

7

'0b111'

In [1]:
#bitwise or

x = 5  # 0101
x |= 3  #0011; Equivalent to x = x | 3
print(x)  #(0111)
bin(x)

7

'0b111'

In [5]:
# Bitwise XOR (^) Operation
#Bit1	Bit2	Result
#0	     0	  0
#0 	     1	  1
#1	     0	  1
#1	     1	  0
x = 5  # 0101
x ^= 3  # 0011; Equivalent to x = x ^ 3
print(x)
bin(x)  # (0110)

6

'0b110'

#The >>= (right shift assignment)
x >> 1	1000	1	0100	4
x >> 2	1000	2	0010	2
x >> 3	1000	3	0001	1

In [7]:
x = 8  # 1000
x >>= 2  # Equivalent to x = x >> 2
print(x)  # (0010)

2

In [11]:
y=10
y>>=3  #0001
print(bin(y))
print(y)

0b1
1

#The <<= (left shift assignment)

In [4]:
x = 3  # 0011
x <<= 2  # Equivalent to x = x << 2
print(x)  # (1100)

12

# :=
#The walrus operator := assigns a value to a variable as part of an expression

In [15]:

print(x := 3)  # Assigns 3 to x and prints it

3

COMPARISION OPERATOR

In [2]:
#== EQUAL TO
X==Y
X=5
Y=7--------FALSE

#NOT EQUAL TO X!=Y 
X=5
Y=5 -------------FALSE

#GREATER THAN X>Y #X=5,Y=3---->FALSE
#LESS THAN X<Y ..X=5,Y=5-------->TRUE

NameError: name 'X' is not defined

In [4]:
x=5
y=3
x==y

False

In [6]:
x=15
y=20
x>y

False

In [8]:
x=15
y=20
x<y

True

In [10]:
x=15
y=20
x>=y

False

In [12]:
x=15
y=20
x<=y

True

LOGICAL OPERATOR
return true if both statements are true.

In [27]:
A=5
B=10

print(A>2 and B>=10)

True

In [29]:
print(A>2 or B<10)
print(A>2 or B<8)

True
True

In [31]:
print(not(A>2 or B<8))

False

IDENTITY OPERATOR

In [41]:
#IS
#IS NOT
a=[1,2,3] #memory loc 1
b=a #1
c=[1,2,3]  #memoy loc 2
d=c        #2
print(a is b)
print(a is c)
print(c is not d)

True
False
False

Membership operator-retuen true if specified value is present i sequence.

In [46]:
fruits=['apple','banana','grape']
print('banana' in fruits)
print('grape' in fruits)
print('cherry' in fruits)

True
True
False

In [54]:
text="hello world"
print('h' in text)
print('hello' in text)

True
True

Bitwise Operator

In [2]:
a=12
b=10
print(a&b)
bin(a&b)

8

'0b1000'

In [4]:
a=12
b=10
print(a|b)
bin(a|b)

14

'0b1110'

In [6]:
a=12
b=10
print(a^b)
bin(a^b)

6

'0b110'

In [ ]:
a=12
b=10
print(a&b)
bin(a&b)

In [1]:
#How to convert Binary into Decimals

a = int('1010010' ,2)
print(a)

82

In [3]:
# convert 1 0 0 0 1 1 1 into decimal

b =int('1000111',2)
print(b)

71